body {
    background-color: black;
}

div {
    width: 50%;
    margin-left: 25%;
    margin-top: 30px;
}

h1 {
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

p {
    color: white;
    text-align: center;
}

img {
    border: solid white 5px;
    padding: 0;
    width: 100%;
}